[Desktop Entry]
Version=1.0
Icon=wiimix
Exec=env QT_QPA_PLATFORM=xcb wiimix
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=WiiMix
GenericName=Wii/GameCube Remixer
Comment=A Wii/GameCube Remixer
